@import "./styles/mixins";
@import "./styles/variables";

.App {
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/noise_lines.png");
    font-family: Roboto, serif;
    min-height: 100vh;
}
body {
    margin: 0;
}

.header {
    height: 250px;
    @include padding;

    &__top {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        margin-bottom: 1rem;

        .button {
            margin-left: 1rem;
            cursor: pointer;
            text-decoration: none;
            img {
                height: 15px;
                width: 15px;
                padding-right: 5px;
                color: #6e8492;
            }

            &--my-account {
                color: #333;
                :hover {
                    text-decoration: underline black;
                }
            }

            &--wishlist {
                color: #333;
            }

            &--checkout {
                color: #333;
            }

            &--log-in {
                color: #333;
            }
        }
    }

    &__middle {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 1rem;

        .logo {
            width: 100px;
            height: 100px;
        }
        &__right {
            display: flex;
            flex-direction: row;
            gap: 10px;
        }

        .search-form {
            display: flex;
            align-items: center;
            background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/funky-lines.png");
            padding: 20px;
            border-radius: 10px;
            border: dashed 2px #c3c3c3;

            &__input {
                padding: 0.5rem;
                margin-right: 0.5rem;
                border: 1px solid #ccc;
                border-radius: 0.25rem;
                width: 20rem;
                font-size: 1rem;
            }

            &__button {
                padding: 0.5rem;
                border: none;
                border-radius: 0.25rem;
                background-color: #333;
                color: #fff;
                cursor: pointer;

                .search-form__icon {
                    fill: #fff;
                    width: 1rem;
                    height: 1rem;
                    vertical-align: middle;
                    margin-right: 0.25rem;
                }
            }
        }

        .button--basket {
            display: flex;
            flex-direction: column;
            background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/funky-lines.png");
            color: #333;
            padding: 0.5rem;
            border-radius: 0.25rem;
            text-decoration: none;
            border: dashed 2px #c3c3c3;
            border-radius: 10px;
            img {
                height: 30px;
                padding-bottom: 11px;
            }
        }
    }

    &__bottom {
        background: #6e8492;
        border: dashed 2px white;
        padding: 15px 0;

        .nav {
            ul {
                display: flex;
                justify-content: center;
                align-items: center;
                list-style: none;
                margin: 0;
                padding: 0;

                li {
                    margin: 0 0.5rem;

                    .nav__link {
                        text-decoration: none;
                        color: white;
                        padding: 0.25rem;
                        font-weight: 600;

                        &:hover {
                            background-color: #f5f5f5;
                            color: #000;
                            border-radius: 10px;
                        }
                    }
                }
            }
        }
    }
    &__mobile {
        display: none;
    }
}
.carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 126px;
    background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/cheap_diagonal_fabric.png");
    &__slider {
        position: relative;
        height: 400px;
        width: 100%;
        margin-bottom: 20px;
        overflow: hidden;
    }

    &__slide {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: opacity 0.5s ease-in-out;
        z-index: 0;

        &--active {
            opacity: 1;
            z-index: 1;
        }
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    &__title {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.6);
        color: white;
        font-size: 16px;
        padding: 10px;
    }

    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #6e8492;
        color: white;
        border: dashed 2px white;
        outline: none;
        font-size: 24px;
        cursor: pointer;
        z-index: 2;

        &--left {
            left: 68px;
            padding: 15px 20px;
        }

        &--right {
            right: 68px;
            padding: 15px 20px;
        }
    }
}
.welcome-block {
    padding: 40px 126px;
    text-align: left;
    color: #6e8492;

    &__title {
        font-size: 2rem;
        font-weight: bolder;
        margin-bottom: 1rem;
    }

    &__text {
        margin-top: 1rem;
        font-size: 1.2rem;
        line-height: 1.5;
        margin-bottom: 1rem;
    }
}
.slider {
    position: relative;
    margin: 0 auto;
    padding: 0 126px;
    height: 200px;

    &__photos {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        overflow: hidden;
        width: 100%;
        height: 200px;
        justify-content: center;
        align-content: center;

        img {
            border: #cbcbcb 2px solid;
            width: 200px;
            height: 196px;
            object-fit: cover;
            cursor: pointer;
        }
    }
    &__button {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        background-color: #6e8492;
        height: 100%;
        border: none;
        color: white;
        font-size: 2rem;
        width: 40px;
        cursor: pointer;

        &:hover {
            color: #000;
        }

        &--prev {
            left: 100px;
        }

        &--next {
            right: 100px;
        }
    }
}
.discount-block {
    display: flex;
    justify-content: space-between;
    gap: 1rem;
    align-items: center;
    margin: 50px 0;
    color: #6e8492;
    @include padding;

    &__column {
        width: 48%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__item {
        display: flex;
        flex: auto;
        align-items: center;
        border: #cbcbcb 2px solid;
        padding: 10px;
        cursor: pointer;
    }

    &__image {
        width: 150px;
        height: 150px;
        margin-right: 10px;
    }

    &__text {
        font-size: 32px;
    }
}
.footer {
    background-color: #333;
    color: #6e8492;

    &__row1 {
        display: flex;
        justify-content: space-between;
        background-color: #fff;
        padding: 50px 126px;

        &__column {
            display: flex;
            align-items: start;
            flex-direction: column;
            gap: 20px;
            width: 350px;
            &__icon {
                margin-right: 10px;
            }

            img {
                width: 40px;
                padding-right: 10px;
            }
            span {
                display: flex;
                align-items: center;
                font-weight: 700;
                text-transform: uppercase;
            }
            &__text {
                font-size: 16px;

                img {
                    width: 20px;
                }
            }
        }
    }

    &__row2 {
        display: flex;
        justify-content: start;
        gap: 15px;
        background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/noise_lines.png");
        padding: 15px 126px;
        &__button {
            text-decoration: none;
            padding-right: 18px;
            border: none;
            font-weight: bold;
            cursor: pointer;
            font-size: 18px;
            color: #6e8492;
            border-right: #6e8492 3px solid;
        }
        &__button:last-child {
            border-right: 0;
        }
    }

    &__row3 {
        display: flex;
        justify-content: space-between;
        padding: 20px 126px;
        background: #6e8492;
        color: white;

        &__text {
            font-size: 14px;
            margin-right: 20px;
        }

        &__column {
            display: flex;
            align-items: center;
            gap: 10px;

            span {
                font-size: 14px;
                margin-right: 10px;
            }

            select {
                background-color: transparent;
                border: none;
                color: #fff;
                option {
                    background-color: white;
                    color: #6e8492;
                }
            }
        }
    }
}
.card-block {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    padding: 10px 126px;
    color: #6e8492;

    &__card {
        display: flex;
        flex-direction: column;
        width: 250px;
        padding: 15px;
        border: dashed 2px #6e8492;
        background: #eaeaea;
        border-radius: 10px;

        &__img {
            width: 100%;
            height: 200px;
            border: solid 1px #6e8492;
        }

        &__title {
            text-align: center;
            vertical-align: middle;
            font-weight: 700;
            height: 70px;
            padding: 5px 0;
        }
        &__info {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 10px 0;
            &__price {
                font-weight: 900;
                padding-right: 15px;
            }
            &__button {
                cursor: pointer;
                padding: 8px 13px;
                font-weight: bold;
                color: #4d6778;
                background-color: #f3f3f3;
                border: dashed 2px #6e8492;
                border-radius: 10px;
            }
        }
        &__wishlist {
            padding: 5px 0;
        }
        &__compare {
            padding-bottom: 10px;
        }
        &__wishlist,
        &__compare {
            display: flex;
            flex-direction: row;
            font-weight: 100;
            font-size: 16px;
            img {
                width: 18px;
                height: 18px;
                padding-right: 5px;
            }
        }

        &__wishlist:hover,
        &__compare:hover {
            text-decoration: underline;
            cursor: pointer;
        }
    }
}
.login {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    &__form {
        background-color: #4d6778;
        padding-bottom: 80px;
        display: flex;
        flex-direction: column;
        padding: 50px 60px;
        border-radius: 10px;
        color: white;
        font-weight: 600;

        &__label {
            &__input {
                padding: 15px;
                border-radius: 10px;
                border: dashed 2px #4d6778;
            }
        }
        &__button {
            background: #f3f3f3;
            margin-top: 30px;
            padding: 15px;
            border-radius: 10px;
            font-weight: 700;
            cursor: pointer;
        }
    }
}

@media (max-width: 480px) {
    .header {
        position: fixed;
        z-index: 30;
        &__top,
        &__middle,
        &__bottom {
            display: none;
        }
        &__mobile {
            position: fixed;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            height: auto;
            width: auto;
            z-index: 30;
            background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/mochaGrunge.png");
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100vw;
            img {
                height: 60px;
                width: 60px;
                color: white;
                padding: 30px;
            }
            .open {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 20;
                height: 100vh;
                width: 100vw;
                background: #fff;
                .nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    gap: 30px;
                    padding-top: 50px;

                    .link {
                        font-weight: 600;
                        color: #6e8492;
                        text-decoration: none;
                    }
                }
                .close {
                    display: flex;
                    justify-content: end;
                    img {
                        padding: 10px;
                    }
                }
            }
            .hide {
                display: none;
            }
        }
    }
    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 10px;
        background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/cheap_diagonal_fabric.png");
        &__slider {
            position: relative;
            height: 400px;
            width: 100%;
            margin-bottom: 20px;
            overflow: hidden;
        }

        &__slide {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            z-index: 0;

            &--active {
                opacity: 1;
                z-index: 1;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            font-size: 16px;
            padding: 10px;
        }

        &__button {
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            background-color: #6e8492;
            color: white;
            border: dashed 2px white;
            outline: none;
            font-size: 24px;
            cursor: pointer;
            z-index: 2;

            &--left {
                left: 68px;
                padding: 15px 45px;
            }

            &--right {
                right: 68px;
                padding: 15px 40px;
            }
        }
    }
    .welcome-block {
        padding: 40px 10px;
        text-align: left;
        color: #6e8492;

        &__title {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
        }

        &__text {
            margin-top: 1rem;
            font-size: 1.2rem;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
    }
    .slider {
        position: relative;
        margin: 0;
        padding: 50px 10px;
        height: auto;

        &__photos {
            display: grid;
            grid-template-columns: none;
            grid-template-rows: max-content;
            gap: 30px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-content: center;

            img {
                border: #cbcbcb 2px solid;
                width: 100%;
                height: 196px;
                object-fit: cover;
                cursor: pointer;
            }
        }
        &__button {
            position: absolute;
            top: 100%;
            transform: translateY(-50%);
            background-color: #6e8492;
            height: 55px;
            border: none;
            color: white;
            font-size: 2rem;
            width: 80px;
            cursor: pointer;

            &:hover {
                color: #000;
            }

            &--prev {
                left: 100px;
            }

            &--next {
                right: 100px;
            }
        }
    }
    .discount-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        margin: 50px 0;
        color: #6e8492;
        padding: 10px;

        &__column {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        &__item {
            display: flex;
            flex: auto;
            align-items: center;
            border: #cbcbcb 2px solid;
            padding: 10px;
            cursor: pointer;
        }

        &__image {
            width: 150px;
            height: 150px;
            margin-right: 10px;
        }

        &__text {
            font-size: 32px;
        }
    }
    .footer {
        background-color: #333;
        color: #6e8492;

        &__row1 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            background-color: #fff;
            padding: 50px 10px;
            gap: 40px;
            &__column {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                width: 350px;
                &__icon {
                    margin-right: 10px;
                }

                img {
                    width: 40px;
                    padding-right: 10px;
                }
                span {
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &__text {
                    font-size: 18px;

                    img {
                        width: 20px;
                    }
                }
            }
        }

        &__row2 {
            display: flex;
            justify-content: start;
            gap: 15px;
            background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/noise_lines.png");
            padding: 20px 10px;
            overflow: scroll;

            &__button {
                text-decoration: none;
                text-align: center;
                padding-right: 20px;
                border: none;
                font-weight: bold;
                font-size: 18px;
                color: #6e8492;
                border-right: #6e8492 3px solid;
            }
            &__button:last-child {
                border-right: 0;
            }
        }

        &__row3 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            padding: 40px 10px;
            background: #6e8492;
            color: white;

            &__text {
                font-size: 18px;
                margin-right: 20px;
            }

            &__column {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 18px;
                    margin-right: 10px;
                }

                select {
                    background-color: transparent;
                    border: none;
                    color: white;
                    font-size: 18px;
                    option {
                        background-color: white;
                        color: #6e8492;
                    }
                }
            }
        }
    }
}
@media (max-width: 768px) {
    .header {
        position: fixed;
        z-index: 30;
        &__top,
        &__middle,
        &__bottom {
            display: none;
        }
        &__mobile {
            position: fixed;
            top: 0;
            left: 0;
            padding: 0;
            margin: 0;
            height: auto;
            width: auto;
            z-index: 30;
            background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/mochaGrunge.png");
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            width: 100vw;
            img {
                height: 60px;
                width: 60px;
                color: white;
                padding: 30px;
            }
            .open {
                position: absolute;
                left: 0;
                top: 0;
                z-index: 20;
                height: 100vh;
                width: 100vw;
                background: #fff;
                .nav {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    list-style: none;
                    margin: 0;
                    padding: 0;
                    list-style-type: none;
                    gap: 30px;
                    padding-top: 50px;

                    .link {
                        font-weight: 600;
                        font-size: 24px;
                        color: #6e8492;
                        text-decoration: none;
                    }
                }
                .close {
                    display: flex;
                    justify-content: end;
                    img {
                        padding: 10px;
                    }
                }
            }
            .hide {
                display: none;
            }
        }
    }
    .carousel {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 150px 10px;
        background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/cheap_diagonal_fabric.png");
        &__slider {
            position: relative;
            height: 400px;
            width: 100%;
            margin-bottom: 20px;
            overflow: hidden;
        }

        &__slide {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: opacity 0.5s ease-in-out;
            z-index: 0;

            &--active {
                opacity: 1;
                z-index: 1;
            }
        }

        &__image {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }

        &__title {
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            background-color: rgba(0, 0, 0, 0.6);
            color: white;
            font-size: 16px;
            padding: 10px;
        }

        &__button {
            position: absolute;
            top: 60%;
            transform: translateY(-50%);
            background-color: #6e8492;
            color: white;
            border: dashed 2px white;
            outline: none;
            font-size: 24px;
            cursor: pointer;
            z-index: 2;

            &--left {
                left: 68px;
                padding: 15px 45px;
            }

            &--right {
                right: 68px;
                padding: 15px 40px;
            }
        }
    }
    .welcome-block {
        padding: 40px 10px;
        text-align: left;
        color: #6e8492;

        &__title {
            font-size: 2rem;
            font-weight: bolder;
            margin-bottom: 1rem;
        }

        &__text {
            margin-top: 1rem;
            font-size: 1.2rem;
            line-height: 1.5;
            margin-bottom: 1rem;
        }
    }
    .slider {
        position: relative;
        margin: 0;
        padding: 50px 10px;
        height: auto;

        &__photos {
            display: grid;
            gap: 30px;
            overflow: hidden;
            width: 100%;
            height: 100%;
            justify-content: center;
            align-content: center;

            img {
                border: #cbcbcb 2px solid;
                width: 100%;
                height: 196px;
                object-fit: cover;
                cursor: pointer;
            }
        }
        &__button {
            position: absolute;
            top: 100%;
            transform: translateY(-50%);
            background-color: #6e8492;
            height: 55px;
            border: none;
            color: white;
            font-size: 2rem;
            width: 80px;
            cursor: pointer;

            &:hover {
                color: #000;
            }

            &--prev {
                left: 100px;
            }

            &--next {
                right: 100px;
            }
        }
    }
    .discount-block {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 30px;
        align-items: center;
        margin: 50px 0;
        color: #6e8492;
        padding: 10px;

        &__column {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        &__item {
            display: flex;
            flex: auto;
            align-items: center;
            border: #cbcbcb 2px solid;
            padding: 10px;
            cursor: pointer;
        }

        &__image {
            width: 150px;
            height: 150px;
            margin-right: 10px;
        }

        &__text {
            font-size: 32px;
        }
    }
    .footer {
        background-color: #333;
        color: #6e8492;

        &__row1 {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            background-color: #fff;
            padding: 50px 10px;
            gap: 20px;
            &__column {
                display: flex;
                align-items: center;
                flex-direction: column;
                gap: 20px;
                width: 350px;
                &__icon {
                    margin-right: 10px;
                }

                img {
                    width: 40px;
                    padding-right: 10px;
                }
                span {
                    display: flex;
                    align-items: center;
                    font-weight: 700;
                    text-transform: uppercase;
                }
                &__text {
                    font-size: 18px;

                    img {
                        width: 20px;
                    }
                }
            }
        }

        &__row2 {
            display: flex;
            justify-content: start;
            gap: 15px;
            background-image: url("https://www.toptal.com/designers/subtlepatterns/uploads/noise_lines.png");
            padding: 20px 10px;
            overflow: scroll;

            &__button {
                text-decoration: none;
                text-align: center;
                padding-right: 20px;
                border: none;
                font-weight: bold;
                font-size: 18px;
                color: #6e8492;
                border-right: #6e8492 3px solid;
            }
            &__button:last-child {
                border-right: 0;
            }
        }

        &__row3 {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 40px;
            padding: 40px 10px;
            background: #6e8492;
            color: white;

            &__text {
                font-size: 18px;
                margin-right: 20px;
            }

            &__column {
                display: flex;
                align-items: center;
                gap: 10px;

                span {
                    font-size: 18px;
                    margin-right: 10px;
                }

                select {
                    background-color: transparent;
                    border: none;
                    color: white;
                    font-size: 18px;
                    option {
                        background-color: white;
                        color: #6e8492;
                    }
                }
            }
        }
    }
}
